<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763173616565-8o5vocujlak8lsu9i1menfa11a4eq8am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763173616565-8o5vocujlak8lsu9i1menfa11a4eq8am</string>
	<key>API_KEY</key>
	<string>AIzaSyCebTXPe06GtByz0K8a8U-MguSLz-es9Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>763173616565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zulu.restaurants</string>
	<key>PROJECT_ID</key>
	<string>restaurants-8bad5</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurants-8bad5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763173616565:ios:11d89f03738ed498d3b7fc</string>
</dict>
</plist>